<footer class="position-absolute bg-black w-100">

    <div class="container-fluid">
        <p class="text-center mt-2">Copyright &#64;2024 | Diseñado por 
            <a class="text-primary" target="_blank" href="#">Method API Test</a>
        </p>
        <ul class="mt-1 mr-auto mb-4 ml-auto">
            <li style="display:inline;">
                <a class="mr-3" href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li style="display:inline;">
                <a class="mr-3" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li style="display:inline;">
                <a class="mr-3" href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</footer>

